---
import Spline404 from '../components/react/spline404'
import Layout from '../layouts/layout.astro'

const content = {
  title: '404 | Soham Sarkar',
  description: `Page not found`,
}
---

<Layout content={content}>
  <div class=''>
    <Spline404 client:load />
  </div>
</Layout>
