---
import Layout from '../layouts/layout.astro'

const content = {
  title: '404 | Soham Sarkar',
  description: `Page not found`,
}
---

<Layout content={content}>
  <div class=''>Not found</div>
</Layout>
