---
import Layout from '../layouts/layout.astro'

interface Props {
  error: unknown
}

const {error} = Astro.props

const content = {
  title: '500 | Soham Sarkar',
  description: `Something went wrong`,
}
---

<Layout content={content}>
  <div>
    {error instanceof Error ? error.message : 'Something went wrong, please try again later'}
  </div>
</Layout>
