---
import MainHead from '../components/MainHead.astro'
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro'
---

<html lang='en'>
  <head>
    <MainHead title='About | Soham Sarkar' description='About Soham Sarkar Lorem Ipsum' />
  </head>
  <body>
    <Nav />

    <Footer />
  </body>
</html>
