---
import Layout from '../layouts/layout.astro'
// import AuroraBg from '../components/AuroraBg.astro'

const content = {
  title: 'Soham Sarkar',
  description: `Soham's personal site`,
}
---

<Layout content={content}>
  <!-- <AuroraBg> -->
  <section class='flex flex-col'>
    <div
      class='flex relative flex-col items-center px-20 pt-8 pb-56 w-full min-h-[800px] max-md:px-5 max-md:pb-24 max-md:max-w-full'
    >
      <div
        class='flex relative flex-col items-start -mb-11 w-full max-w-[1200px] max-md:mb-2.5 max-md:max-w-full'
      >
        <h1
          class='self-stretch mt-52 text-7xl tracking-tighter text-lime-400 leading-[72px] max-md:mt-10 max-md:max-w-full max-md:text-4xl max-md:leading-10'
        >
          <span class='text-white'>I'm a digital gardener, and I</span>
          <span class='italic text-zinc-500'>build experiences</span>
          <span class='text-white'>on the web.</span>
        </h1>
        <p class='mt-6 text-base font-medium leading-5 text-zinc-500 max-md:max-w-full'>
          I can turn your ideas from a seed into a full tree🌱 If you already have a garden, I can
          turn it into a forest🌲
        </p>
        <a
          href='#'
          class='gap-2 self-stretch px-6 py-4 mt-6 text-xl tracking-tighter leading-none text-white border border-solid border-white border-opacity-60 rounded-[40px] shadow-[0px_0px_24px_rgba(255,255,255,0.34)] max-md:px-5'
          tabindex='0'
          role='button'
        >
          Work with me!
        </a>
      </div>
    </div>
  </section>
  <!-- </AuroraBg> -->
</Layout>
