---
import Layout from '../layouts/layout.astro'
import {Icon} from 'astro-icon/components'

const content = {
  title: 'Soham Sarkar',
  description: `Soham's personal site`,
}
---

<Layout content={content}>
  <section class='flex items-center justify-between mt-7'>
    <div class=''>
      <h1 class='text-[54px] font-semibold leading-[78px] max-w-[1000px] w-full tracking-[-0.03em]'>
        I'm a digital gardener and I build experiences on the web
      </h1>
      <h2
        class='mt-[19px] mb-[70px] max-w-[600px] w-full tracking-[-0.02em] leading-[38px] text-[22px] text-secondary'
      >
        I can turn your ideas from a seed into a full tree 🌱 <br /> If you already have a garden, I
        can turn it into a forest 🌲
        <!-- <br /> Sharing my passions, my interests, and my experiences -->
      </h2>

      <div class='flex gap-5 flex-wrap'>
        <button class='bg-white rounded-[38.5px] text-black w-[263px] h-[65px]'
          >Let's work together</button
        >
        <button
          class='rounded-[38.5px] text-white w-[263px] h-[65px] border-solid border-[2px] border-white'
          >Read Blog</button
        >
      </div>
    </div>

    <div>
      <img src='/images/panda-home.svg' alt='panda home' />
    </div>
  </section>

  <div class='flex flex-col items-center justify-center mt-[100px]'>
    <p class='mb-2'>Scroll for wonders</p>
    <Icon name='ph:mouse-simple-thin' size={40} />
  </div>

  <section class='flex items-center justify-between mt-12'>
    <div>
      <img src='/images/panda-home2.svg' alt='panda home' />
    </div>
    <div class=''>
      <h1 class='text-[48px] font-semibold leading-[58px] max-w-[700px] w-full tracking-[-0.03em]'>
        Playing with New Frameworks and Reading Books is my goto thing.
      </h1>
      <h2
        class='mt-[19px] mb-[70px] max-w-[600px] w-full tracking-[-0.02em] leading-[38px] text-[22px] text-secondary'
      >
        I'm also a big extreme sports enthusiast. When I'm not hanging out with my family or at the
        computer you can find me cruising around on my onewheel or hitting the slopes on my
        snowboard when it's cold.
      </h2>

      <div>
        <button
          class='rounded-[38.5px] text-white w-[263px] h-[65px] border-solid border-[2px] border-white'
          >Learn more about me</button
        >
      </div>
    </div>
  </section>
</Layout>
