---
import Layout from '../layouts/layout.astro'
import Button from '../components/Button.astro'
import ProjectsSection from '../components/home/ProjectsSection.astro'

const content = {
  title: 'Soham Sarkar',
  description: `Soham's personal site`,
}
---

<Layout content={content}>
  <section class='hero-section'>
    <div class='hero-text'>
      <h1>
        I'm a <span>digital gardener</span>, and I
        <span class='italic-text'>craft impactful software experiences</span>
        with code.
      </h1>
      <p>
        I'll grow your ideas from tiny seeds into towering trees 🌱.<br /> Already have a garden? Let's
        transform it into a thriving forest 🌲.
      </p>
      <Button href='https://cal.com/soham-sarkar-work'>Let's grow together!</Button>
    </div>
  </section>

  <ProjectsSection />

  <style>
    .hero-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 65dvh;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
      color: #ffffff;
    }

    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      width: 100%;
    }

    h1 {
      color: #fff;
      font-size: 4.5rem;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.36rem;
    }

    .italic-text {
      font-style: italic;
      color: #7f7f7f;
    }

    p {
      font-size: 1.25rem;
      font-weight: 500;
      color: #71717a;
    }

    @media (max-width: 768px) {
      h1 {
        font-size: 3.5rem;
        letter-spacing: -0.28rem;
      }
    }

    @media (max-width: 480px) {
      h1 {
        font-size: 2.5rem;
        letter-spacing: -0.2rem;
      }
    }
  </style>
</Layout>
