---
import '../styles/global.css'
import '../styles/variables.css'
import '../styles/typography.css'
const {title = 'Soham Sarkar', description = 'The personal site of Soham Sarkar'} = Astro.props
---

<meta charset='UTF-8' />
<meta name='description' property='og:description' content={description} />
<meta name='viewport' content='width=device-width' />
<meta name='generator' content={Astro.generator} />
<title>{title}</title>

<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<script defer data-domain='sohamsarkar.com' src='https://plausible.io/js/script.js'></script>
