---
import '../styles/global.css'
import '../styles/variables.css'
import '../styles/typography.css'
const {title = 'Soham Sarkar', description = 'The personal site of Soham Sarkar'} = Astro.props
---

<meta charset='UTF-8' />
<meta name='description' property='og:description' content={description} />
<meta name='viewport' content='width=device-width' />
<meta name='generator' content={Astro.generator} />
<title>{title}</title>

<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<!-- Preload fonts -->
<link
  rel='preload'
  href='/fonts/VictorMono-Regular.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/>
<link rel='preload' href='/fonts/VictorMono-Italic.woff2' as='font' type='font/woff2' crossorigin />
<!-- <link rel='preload' href='/fonts/VictorMono-Medium.woff2' as='font' type='font/woff2' crossorigin />
<link rel='preload' href='/fonts/VictorMono-Bold.woff2' as='font' type='font/woff2' crossorigin />
<link
  rel='preload'
  href='/fonts/VictorMono-BoldItalic.woff2'
  as='font'
  type='font/woff2'
  crossorigin
/> -->
