---
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.astro'
// import Footer from '../components/Footer.astro'

const {content} = Astro.props
---

<html lang={'en'}>
  <head>
    <MainHead title={content.title} description={content.description} />
  </head>
  <body class='container'>
    <Nav />
    <slot />
    <!-- <Footer /> -->
    <style>
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
      }
    </style>
  </body>
</html>
