---
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'

interface Props {
  content: {
    title: string
    description: string
  }
}

const {content} = Astro.props as Props
---

<html lang={'en'}>
  <head>
    <MainHead title={content.title} description={content.description} />
  </head>
  <body class=''>
    <div class='container'>
      <Nav />
      <slot />
      <Footer />
    </div>
    <div class='footer-image'></div>

    <style>
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
      }
      .footer-image {
        height: 200px;
        background-image: url('../assets/footer-bottom.png');
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
      }
    </style>
  </body>
</html>
